.project
  Developer:
  = project.developer.full_name
  %br/
  Name:
  = project.name
  %br/
  Description
  = project.description
  %br/
  = link_to "Vote", upvote_project_path(project), method: :put
  %br/
  = link_to "Unvote", unvote_project_path(project), method: :put
  %br/
  Votes:
  = project.votes_for.size
