!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RecruitmentTask
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %span Rectruitment Task
      = link_to t('Logout'), destroy_user_session_path, method: :delete
      %ul
        %li= link_to 'Developers', developers_path
        %li= link_to 'Projects', projects_path
        %li= link_to 'Languages', languages_path
        - flash.each do |type, message|
          = message

    = yield
